 i.deleteIcon,
 i.editIcon {
  visibility: hidden;
  float: right;
}
tr:hover i.deleteIcon,
tr:hover i.editIcon,
.listItem:hover i.deleteIcon,
.listItem:hover i.editIcon
 {
  cursor: pointer;
  visibility: visible;
}
i.deleteIcon:hover {
  color: white !important;
  background-color: #db2828 !important;
}
i.editIcon:hover {
  color: white !important;
  background-color: #00b5ad !important;
}
